* {
  margin: 0;
  padding: 0;
}
.app__header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.app__headerLogo {
  object-fit: contain;
  height: 80px;
}
.app__headerLinks > a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
