* {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
.app__header {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.app__headerLogo {
  object-fit: contain;
  height: 80px;
}
.app__headerLinks > a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.app__intro {
  width: 100vw;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FfxKGuF6.jpg&f=1&nofb=1);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 500px;
  align-items: center;
}
.app__introLogo {
  object-fit: contain;
  height: 200px;
}
.app__introContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__introName,
.app__introText {
  color: white;
  font-weight: 300;
}
.app__about {
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: #e9e9e9;
}
.app__aboutContainer {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app__aboutContainer2 {
  margin-top: 150px;
  margin-bottom: 80px;
}
.app__aboutText,
.app__aboutEmail {
  font-weight: 400;
}
.app__aboutEmail {
  margin-top: 30px;
}
.app__aboutSocial > a {
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.app__projects {
  min-height: 500px;
  display: flex;
  flex-direction: column;
}
.app__projectsContainer {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app__projectsList {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
